body {
	background-color: black;
	text-align: center;
	color: lightgray;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 100px auto;
	border: 1px solid lightgray;
}

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}

.modal {
	
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
	margin: auto;
	padding: 5px;
	width: 100px;
	
	
}

.modal button {
	float: middle;
	cursor: pointer;
	background-color: beige;
}

.hide {
	display: none;
}